/* CastleSection.css */
@import '../../styles/colors.css';

.castle-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
}

.castle-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background-image: url('../../assets/castle-entrance.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

/* Desktop: Full width castle */
@media (max-width: 650px) {
  .castle-background {
    background-size: 220%;
  }
}

.castle-form-overlay {
  position: absolute;
  top: 38%;
  z-index: 10;
  max-width: 20rem;

  @media (max-width: 650px) {
    bottom: 10rem;
    width: 100%;
    padding: 0 3.5rem;
    max-width: 25rem;
    top: 37%;
  }
}
