/* HeroSection.css */
@import '../../styles/colors.css';

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: var(--color-yellow);
	position: sticky;
}

.hero-content {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.hero-heading {
  font-size: 2.5rem;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.75rem;
  font-family: 'Regulator Nova', sans-serif;
  font-weight: 700;
  transform: translateY(-30px);
}

.subtext {
	font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: translateY(-30px);
}

.italics {
	font-size: 1.1rem;
	font-style: italic;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  transform: translateY(-30px);
}

/* Responsive design for mobile */
@media (max-width: 650px) {
  .hero-heading {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
  }

  .subtext {
    font-size: 1.43rem;
    line-height: 1.5rem;
  }
  
  .italics {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .hero-content {
    padding: 0 1rem;
  }
}

/* Mobile screen under 500px - move text up */
@media (max-width: 650px) {
  .hero-heading {
    transform: translateY(-50px);
  }
  
  .subtext {
    transform: translateY(-50px);
  }
  
  .italics {
    display: none;
  }
}
